.bj {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.content {
    width: 1180px;
    margin: 40px auto 0;
}
.content .login-box {
    width: 400px;
    margin: 100px auto 0;
}
.content h1 {
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
