.play-pause-btn{
  display:inline-block;
  background-size:cover;
  background-repeat:no-repeat;
  float:right;
  margin:5px 10px;
  cursor:pointer;
}
.play-icon{
  width:17px;
  height:15px;
  background-image:url('../webimages/play.png');
}
.pause-icon{
  width:17px;
  height:15px;
  background-image:url(../webimages/pause.png);
}